body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color: black;
    font-style: normal;
    opacity: 50%;
}

nav {
    float: left;
    width:18%;
    height: 900px;

}
header {
    background-color: rgb(101, 172, 20);
    border: gold;
    
padding: ; {
    text-align: center;
}
.smiley {
    width: 10%;
    height: 10%;
}

#header-title {
    float: left;
}

aside{
   float: left; 
   width: 100px;
   height: auto;
}

.highimage {
    float: left;
    width: 620px;
    margin: 10px;

}

.column2{
    width: 300px;
    float: left;
    margin: 10px;
}

.high {
    float: left;
    width: 620px;
    margin: 10px;
}

footer {
    width: 100%;
    background-color: red;
    text-align: center;
}
