body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color: black;
    font-style: normal;
}

nav {
    float: left;
    width:20%;
    height: 1500px;
}

header {
    background-color: rgb(206, 172, 21);
    border: gold;
    margin-top: 10px
}

#smiley {
    width: 100px;
    height:100px;
    
}

h4{
    text-align: center;
    background-color: red;
}